<!DOCTYPE html>
<html>
  <head>
  
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Maple - Simplify SDN</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/1-col-portfolio.css" rel="stylesheet">

  </head>
  <body>
     <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Maple</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">Documentation</a>
                    </li>
                    <li>
                        <a href="#">OpenDayLight API</a>
                    </li>
                    <li>
                        <a href="/tutorials">Video Tutorials</a>
                    </li>
                    <li>
                        <a href="/stepbystep">Step by Step</a>
                    </li>
                    <li>
                         <a href="/about">About</a>
                    </li>
                    <li>
                         <a href="/visualization">Visualization</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>






    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Page Heading
                    <small>Secondary Text</small>
                </h1>

                <!-- First Blog Post -->
                <h2>
                    <a href="#">1.Learn how to use Java.</a>
                </h2>

                <hr>
            
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, veritatis, tempora, necessitatibus inventore nisi quam quia repellat ut tempore laborum possimus eum dicta id animi corrupti debitis ipsum officiis rerum.</p>

                <hr>


                <!-- Second Blog Post -->
                <h2>
                    <a href="#">2.Understand how the current network system works?
</a>
                </h2>
                
                <hr>
                
                <p>In order to use Maple and SDN, you probably need to have a overview of how the current network system works, then you will understand the value of SDN and the value of Maple. So this section is going to give you a very basic picture of network system, if you have already understood that then you can skip this section.

                <hr>

                Imagine you are in a campus building. And you are able to use your computer to connect internet. You open your Facebook and send your Friend Steve a message, "What is up ,Steve." Steve responses you later and sends "Not so much" back to you. 

                <hr>

                Your know your computer is sending information to WiFi. But how information travels after the WiFi gets the information? 

                <hr>

                In the institute like Boston University, this is what probably happends:

                As you can see in the imagine, 

                Your Facebook message is sending to WiFi, the WiFi is sending the message to the switch. (A switch is just a computer networking device that connects devices) Like there usually many WiFi Access Points in a building, there are usually several switches in a buiding too and they are connecting to each other. And then the switch is forwarding your message to a router.(A router's job is also to )

                 but besides the computer connecting to the WiFi, do you know the path of your infomration 
                 Your computer and cell phone are connecting to the WiFi acess 

                SDN is short for software defined network. It is </p>

                <hr>

                <!--  Blog Post 模版 -->
       <!--          <h2>
                    <a href="#">模版</a>
                </h2>
                
                
                <hr>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, voluptates, voluptas dolore ipsam cumque quam veniam accusantium laudantium adipisci architecto itaque dicta aperiam maiores provident id incidunt autem. Magni, ratione.</p> -->
<!--                 <a class="btn btn-primary" href="#">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
 -->
                <hr>






                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Older</a>
                    </li>
                    <li class="next">
                        <a href="#">Newer &rarr;</a>
                    </li>
                </ul>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

              

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Step by Step index</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">1.Learn how to use Java.</a>
                                </li>
                                <li><a href="#">2.Understand how the current network system works</a>
                                </li>
                                <li><a href="#">3.Understand how SDN work</a>
                                </li>
                                <li><a href="#">4.How does Maple help you for SDN programming</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                        <!-- <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                                <li><a href="#">Category Name</a>
                                </li>
                            </ul>
                        </div> -->
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

               

            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>
